* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.top {
  width: 100%;
}

.top__upper {
    background-color: #D6F5D6;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__upper-logo {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: #D6F5D6;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.top__upper-logo  a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    transition: all 0.5s ease;

}

.top__upper-logo img {
    width: 80px;
    height: 70px;
    margin: 5px;
    border-radius: 50%;
}

.top__upper select {
    border: 3px solid #A0E081;
    border-radius: 12px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3px;
    background-color: #FFF8E7;
}

.top__upper-search {
    width: 20%;
    margin-left: 50px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top__upper-search--box input {
    width: 300px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    border: 4px solid #A0E081;
    border-radius: 14px;
    background-color: #FFF8E7;

}

.top__upper-search--box i {
    font-size: 18px;
    font-weight: bolder;
}

.search i {
    font-size: 18px;
    font-weight: bolder;
}

.top__upper-signin {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top__upper-signin a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    transition: all 0.3s ease;
}

.top__upper-signin a:hover {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    border: 4px solid #A0E081;
    border-radius: 12px;
    padding: 4px;
    background-color: #A0E081;
}

.top__upper-signin button{
    background-color: #FFF8E7;
    border: 3px solid #A0E081;
    border-radius: 12px;
    padding: 4px;
    width: 150px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    transition: all 0.3s ease;
}
.top__upper-signin button:hover{
    background-color: #A0E081;
    border: 4px solid #A0E081;
    border-radius: 14px;
    padding: 6px;
    width: 150px;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    transform: scale(1.05);
}

.top__middle {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f5f1e9;
    border-radius: 16px;
}
.top__middle nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top__middle nav a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 4px;
    width: 250px;
    text-align: center;
    border-radius: 14px;
    transition: all 0.2s ease;
}
.top__middle nav a:hover{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #A0E081;
    padding: 6px;
    width: 250px;
    text-align: center;
    border-radius: 14px;
    background-color: #A0E081;
    transform: scale(1.02);
}

.top__lower {
    background-color: #D6F5D6;
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.top__lower-cs {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.top__lower-cs a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.top__lower-cs a:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF8E7;
    border: 3px solid #A0E081;
    border-radius: 14px;
    padding: 5px;
}


.top__lower-cs i {
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.top__lower-cs i:hover {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF8E7;
    border: 3px solid #A0E081;
    border-radius: 14px;
    padding: 5px;
}

.top__lower-tl {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#theme-btn {
    background-color: #FFF8E7;
    color: black;
    width: 20%;
    margin-right: 100px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #A0E081;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

#theme-btn:hover{
    background-color: #A0E081;
    color: black;
    width: 20%;
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid #A0E081;
    border-radius: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#language-btn {
    background-color: #FFF8E7;
    color: black;
    width: 30%;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #A0E081;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

#language-btn:hover {
    background-color: #A0E081;
    color: black;
    width: 30%;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bolder;
    border: 4px solid #A0E081;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.foot {
    width: 100%;
    height: 100px;
}

.foot__upper {
    background-color: #D6F5D6;
    border-radius: 12px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.foot__upper-logo img {
    width: 80px;
    height: 70px;
    margin: 5px;
    border-radius: 50%;
}

.foot__upper-logo  a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    transition: all 0.3s ease;

}

.foot__upper-logo {
    margin-left: 10px;
}

.foot__para {
    width: 15%;
    height: 60px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.foot__icon {
    width: 12%;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;

}

.foot__icon > a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.foot__icon > a:hover {
    text-decoration: none;
    color: black;
    border: 2px solid #A0E081;
    border-radius: 50%;
    padding: 5px;
    font-size: 32px;
    background-color: #FFF8E7;

}
