.tg__mid {
    border: 3px solid #A0E081;
    border-radius: 16px;
    width: 100%;
    height: 1150px;
    padding: 10px;
    margin-top: 10px;
    background-color: #FFF8E7;
}

.tg__mid-upper {
    border-radius: 16px;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6F5D6;
    margin-bottom: 10px;
}

.tg__mid-upper h1 {
    border-radius: 14px;
    width: 60%;
    text-align: start;
    font-size: 44px;
    margin: 10px;
}

.tg__mid-upper select {
    width: 20%;
    border: 3px solid #A0E081;
    border-radius: 12px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3px;
    background-color: #FFF8E7;
    margin: 10px;
}

.tg__mid-middle {
    border-radius: 14px;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.tg__mid-middle > div {
    border: 3px solid #A0E081;
    border-radius: 16px;
    padding: 5px;
    background-color: #D6F5D6;
    padding: 15px;
}

.tg__mid-middle  .tg__child {
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("assets/background3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tg__child-img {
    width: 80%;
    height: 70%;
}
.tg__child a {
    text-decoration: none;
    color: black;

}
.tg__child-img.vscode {
    background-image: url("assets/vscode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tg__child-img.github {
    background-image: url("assets/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tg__child-img.devtools {
    background-image: url("assets/devtools.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tg__child-img.figma {
    background-image: url("assets/figma.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tg__child-img.postman {
    background-image: url("assets/postman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tg__child-img.git {
    background-image: url("assets/git.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.a-span {
    border-radius: 14px;
    width: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #FFF8E7;
    padding: 4px;
    transition: all 0.2s ease;
}

.a-span:hover {
    border: 3px solid #A0E081;
    border-radius: 16px;
    width: 50%;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    background-color: #A0E081;
    padding: 5px;
}
